XAI_API_KEY=xai-TG0zvBOjPn8SQCdBIKj9rgal9EXMUBrffslvboCRMesVoLbjwQxzAELQF5ak35LOaUDMlKSHDElFM9Bs
XAI_BASE_URL=https://api.x.ai/v1
PORT=3000
MODEL=grok-beta

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=gm_ai_security_box_local
DB_DEBUG=0
DB_SYNC=1